:root {
  --primary-color: #facb5a;
  --secondary-color: #ffe86b;
}

body {
  background-color: black;
  color: white;
  font-family: Montserrat, sans-serif;
  line-height: 1.5em;
}

h1 {
  font-family: Lora, sans-serif;
  font-size: 2.3em;
  color: var(--primary-color);
}

h3 {
  font-family: Lora, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
}

main img {
  width: 100%;
  position: relative;
  z-index: -1;
}

button {
  background-color: black;
  color: white;
  border: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin: 2em 0;
}

footer {
  text-align: center;
  margin-top: 4em;
  color: var(--secondary-color);
}

.material-icons.md-48 { font-size: 48px; }

.navlinks {
  display: none;
}

.navlink {
  line-height: 3em;
}

.navlink:hover {
  font-weight: 700;
  border-bottom: 2px solid white;
  padding-bottom: 0.3em;
}

.logo {
  text-transform: uppercase;
  border: 1px solid var(--secondary-color);
  padding: 0.5em 0.8em;
  font-family: Lora, sans-serif;
  font-size: 0.8em;
  color: #ffe86b;
}

.main-content {
  padding: 1em;
}

.designer-box {
  margin: -5em 0 0 3.5em;
  width: 20em;
  height: 7.5em;
  background-color: #212121;
  padding: 0.8em 2em 2em 2em;
}

.designer-box p {
  line-height: 1em;
  margin: 0.5em;
}

.underline {
  border-bottom: 1px solid var(--primary-color);
}

.designer-box img {
  border-radius: 50%;
  width: 3em;
  margin-right: 1.3em;
  z-index: 1;
}

.flex-align {
  display: flex;
  align-items: center;
}

.gray-text {
  color: #bababa;
  font-size: 0.8em;
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  margin: 15% auto;
  padding: 5em;
  text-align: center;
}

.close {
  float: right;
}

.close:hover, .menu:hover {
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  nav .menu {
    display: none;
  }

  .navlinks {
    display: inline;
  }

  .navlink {
    margin: 0 1.5em;
  }

  h1 {
    font-size: 2.3em;
    line-height: 1em;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
  }

  .main-content {
    margin: 0 3em 0 0;
  }

  .designer-box {
    margin: -5em 0 0 1.5em;
  }

  #menuModal {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .main-content {
    margin: 0 5em 0 0;
  }

  .main-content p {
    font-size: 1.3em;
  }

  .navlink {
    margin: 0 2em;
  }

  h1 {
    font-size: 3em;
  }

  .designer-box {
    margin: -5em 0 0 4em;
  }

  .designer-box h3{
    font-size: 1.5em;
    line-height: 1.3em;
  }

}

